@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-correct: #e2b6cf;
  --color-incorrect: #ca4754;
  --color-extra-error: #7e2a33;
  --color-untyped: #b08fa3;
  --color-cursor: #e2b6cf;
  --color-accent: #e2b6cf;
  --color-background: #2b1d2e;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--color-background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
